{% extends 'artwebsite/base.html' %}
{% load static %}
{% block content %}
<div class="parallax-content tabs-content" id="aboutus">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text-center text-white ">
                    <h2>About The Artist</h2>
                    <hr>
                    <br><br>
                    <div class="line-dec"></div>
                    <p>
                        <strong> Kunwar Aamir Hameed Wani (KAHW)</strong>, a versatile self taught artist from Kashmir, started his art journey at a very early age.
                        He started his art work with water colour, acrylic painting, oil painting and tempera. Sometime,
                        he also uses his own handmade colour / medium. Usually, he loves to work with nature and
                        portraits of the society. He narrates how the ideology was depicted in action on canvas and
                        paper in his artworks. How the contemplation of his dreams through his Art form and style took
                        shape and finally emerged as a reality. Mostly focused on contemporary and abstract forms, he
                        decided to dictate his take on the subjects which are filled with fervour and volatility.
                        The subjects which were rarely even thought about by the other artists working in the valley,
                        have been brought to light first time by this lad of the soil. Most recently he commissioned a
                        collection based the Soviet Revolution. When asked about what inspired him into such a subject,
                        artist replied, “The extent of energy that’s present in the art of the Soviet Revolution is
                        unmatched as compared to all other revolutions of the times. The way the artists have
                        contributed to upbringing of the infant state is immaculate. The restraints in the way of the
                        revolution to succeed, defence from foreign invasions, devastated social life, illiteracy and
                        hunger have been brought out to the fullest.
                        <br><br> Besides the Red Revolution a collection dedicated to the Soviet Revolution the artist is
                        also working on a collection about Jerusalem. Taken by the tenacity of the byzantine period and
                        the geography of Jerusalem is what made me start this never ending subject, a year ago acclaimed
                        the artist.
                    </p>


                </div>
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-5 artist-div">
                <img src="{% static 'artgallery/images/kahw_portrait.png' %}" alt="">
                <br>
            </div>
        </div>
    </div>
</div>



{% endblock %}
