{% extends 'artwebsite/base.html' %}
{% load static %}
{% block content %}
<div class="parallax-content projects-content" id="aboutus">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                   <div class="text-center text-white">
                        <h2>More About ArtGallery</h2>
                        <div class="line-dec"></div>
                        <p>KAHW is a landscape photographer and natural history cinematographer based in Ibiza.

                        With Iceland as a home base, the fragile, barren and isolated landscapes of the frozen North have become the core focus of his work. After 10 years in the creative sphere, multiple solo exhibitions and more than 30 assignments as a polar expedition photography specialist, KAHW has developed an intricate knowledge, connection and passion for documenting the lands of Iceland, Greenland and Svalbard. KAHW utilises social media to share his imagery and first hand experiences of glacial retreat, sea ice changes and the culture and wildlife of the North, with an aim to help raise awareness of our rapidly changing global climate.

                        On the side of his personal Arctic endeavours, KAHW has worked for over 5 years as a commercial photographer for the Icelandic outdoor clothing brand 66 North, transitioning to the role of Editor-In-Chief in 2019. In 2020, KAHW embarked on a new path in his career, working as a cinematographer and drone operator on a major natural history series (stay tuned!). 

                    If you’d like to hear more about KAHW’s story, here are a few podcasts:
                            Show (In-Depth), The Dark Room, Your Creative Push

                    His personal camera setups includes ↡ 

                    Photography: Sony A7R IV, DJI Mavic 2 Pro.

                    Cinema: RED Dragon-X 6K, Ronin 2, Easyrig w/ STABIL G2 arm and DJI Inspire 2 & X7.

                Selected Client List

                    KAHW has worked on assignments for such clients as Silverback Films, 66 North, DJI, Icelandair, Olympus, Goretex, Easyrig, Land Rover, Suzuki, National Geographic, Air Iceland Connect, Ólafur Arnalds, Front Runner, Bioeffect, as well as the tourism boards of Visit Svalbard, Visit Faroe Islands, Visit Greenland, Travel Alberta and Inspired by Iceland.Lorem Ipsum Sed lacinia ligula est, at venenatis ex iaculis quis. Morbi sollicitudin nulla eget odio pellentesque
                        Please share our <a rel="nofollow" href="#">website</a> to your friends or collegues. Thank you.</p>
                        
                        <div class="primary-button">
                            <a href="#portfolio">Learn More About Us</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </div>



{% endblock %}