 <!--
    <div class="row">
      {%for posts in painting %}
      <div class="dis col-md-4">
        <div class="gallery-item">
            <img src="{{ posts.image.url }}" alt="">
            <div class="details">
              <h1>
                <strong> {{posts.title}}</strong>
              </h1>
              <p>
                Medium: <strong>{{posts.medium}}</strong>
               </p>
              <p>
                Size: <strong>{{posts.dimension}}</strong>
              </p>
              <p>
                Technique: <strong>{{posts.technique}}</strong>
              </p>
              <p>
                Year: <strong>{{posts.year}} </strong>
              </p>
            </div>
        </div>
      </div>
      {% endfor %}
    </div>
      -->
