{% extends 'artwebsite/base.html' %}
{% load static %}
{% block content %}
 <!--==========================
      Portfolio Section
    ============================-->

    <section id="gallery2">
        <div class="container">
            <div class="row">
                <div class="dis col-md-4">
                    <div class="gallery-item">
                        <img src="{% static 'artgallery/images/Paintings/Christian Era Of Jerusulem-min.jpg'%}" alt="">
                        <div class="details">
                            <h1> <strong> Title 1</strong> </h1>
                            <p> Medium: <strong>Oil</strong> </p>
                            <p> Size: <strong>10x10</strong> </p>
                            <p> Technique: <strong>Unknown</strong> </p>
                            <p> Year: <strong>2021 </strong> </p>
                            <a href="{% static 'artgallery/images/Paintings/Christian Era Of Jerusulem-min.jpg'%}" target="_blank">+</a>
                        </div>
                    </div>
                </div>
                <div class="dis col-md-4">
                    <div class="gallery-item">
                        <img src="{% static 'artgallery/images/Paintings/Colonial Times-min.jpg'%}" alt="">
                        <div class="details">
                            <h1> <strong> Title 1</strong> </h1>
                            <p> Medium: <strong>Oil</strong> </p>
                            <p> Size: <strong>10x10</strong> </p>
                            <p> Technique: <strong>Unknown</strong> </p>
                            <p> Year: <strong>2021 </strong> </p>
                             <a href="{% static 'artgallery/images/Paintings/Colonial Times-min.jpg'%}" target="_blank">+</a>

                        </div>
                    </div>
                </div>
                <div class="dis col-md-4">
                    <div class="gallery-item">
                        <img src="{% static 'artgallery/images/Paintings/Color Blind Ghetto-min.jpg'%}" alt="">
                        <div class="details">
                            <h1> <strong> Title 1</strong> </h1>
                            <p> Medium: <strong>Oil</strong> </p>
                            <p> Size: <strong>10x10</strong> </p>
                            <p> Technique: <strong>Unknown</strong> </p>
                            <p> Year: <strong>2021 </strong> </p>
                             <a href="{% static 'artgallery/images/Paintings/Color Blind Ghetto-min.jpg'%}" target="_blank">+</a>
                        </div>
                    </div>
                </div>
                <div class="dis col-md-4">
                    <div class="gallery-item">
                        <img src="{% static 'artgallery/images/Paintings/David Composing Psalms-min.jpg'%}" alt="">
                        <div class="details">
                            <h1> <strong> Title 1</strong> </h1>
                            <p> Medium: <strong>Oil</strong> </p>
                            <p> Size: <strong>10x10</strong> </p>
                            <p> Technique: <strong>Unknown</strong> </p>
                            <p> Year: <strong>2021 </strong> </p>
                             <a href="{% static 'artgallery/images/Paintings/David Composing Psalms-min.jpg'%}" target="_blank">+</a>
                        </div>
                    </div>
                </div>
                <div class="dis col-md-4">
                    <div class="gallery-item">
                        <img src="{% static 'artgallery/images/Paintings/Dead Sea Scrolls-min.jpg'%}" alt="">
                        <div class="details">
                            <h1> <strong> Title 1</strong> </h1>
                            <p> Medium: <strong>Oil</strong> </p>
                            <p> Size: <strong>10x10</strong> </p>
                            <p> Technique: <strong>Unknown</strong> </p>
                            <p> Year: <strong>2021 </strong> </p>
                            <a href="{% static 'artgallery/images/Paintings/Dead Sea Scrolls-min.jpg'%}" target="_blank">+</a>
                        </div>
                    </div>
                </div>
                <div class="dis col-md-4">
                    <div class="gallery-item">
                        <img src="{% static 'artgallery/images/Paintings/Discovery of the Royal Stao-min.jpg'%}" alt="">
                        <div class="details">
                            <h1> <strong> Title 1</strong> </h1>
                            <p> Medium: <strong>Oil</strong> </p>
                            <p> Size: <strong>10x10</strong> </p>
                            <p> Technique: <strong>Unknown</strong> </p>
                            <p> Year: <strong>2021 </strong> </p>
                             <a href="{% static 'artgallery/images/Paintings/Discovery of the Royal Stao-min.jpg'%}" target="_blank">+</a>
                        </div>
                    </div>
                </div>
                <div class="dis col-md-4">
                    <div class="gallery-item">
                        <img src="{% static 'artgallery/images/Paintings/Divine Love-min.jpg'%}" alt="">
                        <div class="details">
                            <h1> <strong> Title 1</strong> </h1>
                            <p> Medium: <strong>Oil</strong> </p>
                            <p> Size: <strong>10x10</strong> </p>
                            <p> Technique: <strong>Unknown</strong> </p>
                            <p> Year: <strong>2021 </strong> </p>
                             <a href="{% static 'artgallery/images/Paintings/Divine Love-min.jpg'%}" target="_blank">+</a>
                        </div>
                    </div>
                </div>

            </div>


        </div>

    </section>

{% endblock %}
