{% extends 'artwebsite/base.html' %}
{% load static %}
{% block content %}

    <div class="parallax-content baner-content" id="home">
        <div class="container">
            <div class="art-cred">
                <h3>Divine Love</h3>
                <p>
                 Artist: <a href="{% url 'aboutus' %}">KHAW </a>
                </p>
            </div>
        </div>
    </div>


    <div class="service-content" id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="service-item zoomA" id="tile1">
                                <h2>Original Artwork</h2>
                                <div class="line-dec"></div>
                                <p>Artworks labelled with Artists name, medium, and date of completion.

                                        No warped canvases and archival acid free materials.

                                        Simple black frames for great overall aesthetics.

                                        Clean backs, no sloppy cut discoloured mats.
                                        </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-item zoomA" id="tile2">
                                <h2>Authenticity</h2>
                                <div class="line-dec"></div>
                                <p>Every Artwork and Service comes with an Certificate of Authenticity.
                                    Pertinent
                                    information about delivering  the Artworks and services.
                                    Tracking number
                                    or specific code for every Artwork and service.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-item zoomA" id="tile3">
                                <h2>Design Solutions</h2>
                                <div class="line-dec"></div>
                                <p>Residential, Retail/Hospitality, <br>Corporate,
                                    Institutional.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 " >
                            <div class="service-item zoomA" id="tile4">
                                <h2>Enhancement</h2>
                                <div class="line-dec"></div>
                                <p>Interior beautification solutions.<br>
                                        Landscaping solutions.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--
    <div class="parallax-content projects-content" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="owl-testimonials" class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="testimonials-item">
                                <a href="{% static 'artgallery/images/1st-big-item.jpg' %}" data-lightbox="image-1"><img src="{% static 'artgallery/images/1st-item.jpg' %}" alt=""></a>
                                <div class="text-content">
                                    <h4>Awesome Note Book</h4>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <a href="{% static 'artgallery/images/2nd-big-item.jpg' %}" data-lightbox="image-1"><img src="{% static 'artgallery/images/2nd-item.jpg'%}" alt=""></a>
                                <div class="text-content">
                                    <h4>Antique Decoration Photo</h4>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <a href="{% static 'artgallery/images/3rd-big-item.jpg' %}" data-lightbox="image-1"><img src="{% static 'artgallery/images/3rd-item.jpg'%}" alt=""></a>
                                <div class="text-content">
                                    <h4>Work Hand Bag</h4>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <a href="{% static 'artgallery/images/4th-big-item.jpg'%}" data-lightbox="image-1"><img src="{% static 'artgallery/images/4th-item.jpg'%}" alt=""></a>
                                <div class="text-content">
                                    <h4>Smart Watch</h4>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <a href="{% static 'artgallery/images/5th-big-item.jpg'%}" data-lightbox="image-1"><img src="{% static 'artgallery/images/5th-item.jpg'%}" alt=""></a>
                                <div class="text-content">
                                    <h4>PC Tablet Draw</h4>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <a href="{% static 'artgallery/images/6th-big-item.jpg'%}" data-lightbox="image-1"><img src="{% static 'artgallery/images/6th-item.jpg'%}" alt=""></a>
                                <div class="text-content">
                                    <h4>Healthy Milkshake</h4>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <a href="{% static 'artgallery/images/2nd-big-item.jpg'%}" data-lightbox="image-1"><img src="{% static 'artgallery/images/2nd-item.jpg' %}" alt=""></a>
                                <div class="text-content">
                                    <h4>Antique Decoration Photo</h4>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonials-item">
                                <a href="{% static 'artgallery/images/1st-big-item.jpg'%}" data-lightbox="image-1"><img src="{% static 'artgallery/images/1st-item.jpg'%}" alt=""></a>
                                <div class="text-content">
                                    <h4>Awesome Notes Book</h4>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->
<!--<div class="parallax-content projects-content" id="portfolio">-->
<!--<div class="container">-->
    <!--<div class="row text-center gallery justify-content-center">-->
        <!--<div class="col-md-11">-->
            <!--<span><em>Photo Gallery</em> Exhibition</span>-->

            <!--<div class="form-row">-->
                <!--<div class="col-4">-->
                    <!--<img src="{% static 'artgallery/images/g1.png' %}" class="img-fluid rounded shadow-lg transition-hover" alt="...">-->
                <!--</div>-->
                <!--<div class="col-3">-->
                    <!--<img src="{% static 'artgallery/images/g2.png' %}" class="img-fluid rounded shadow-lg mb-2 transition-hover" alt="...">-->
                    <!--<img src="{% static 'artgallery/images/g4.png' %}" class="img-fluid rounded shadow-lg mt-2 transition-hover" alt="...">-->
                <!--</div>-->
                <!--<div class="col-5">-->
                    <!--<div class="form-row mb-2">-->
                        <!--<div class="col-5">-->
                            <!--<img src="{% static 'artgallery/images/g5.png' %}" class="img-fluid rounded shadow-lg transition-hover" alt="...">-->
                        <!--</div>-->
                        <!--<div class="col-7">-->
                            <!--<img src="{% static 'artgallery/images/g3.png' %}" class="img-fluid rounded shadow-lg transition-hover" alt="...">-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<img src="{% static 'artgallery/images/g6.png' %}" class="img-fluid rounded shadow-lg mt-2 transition-hover" alt="...">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--</div>-->



{% endblock %}
